<h1 align="center">List of users </h1>

<form id="list_form" action="/users" method="get">
  <div id="search_div">
  <input type="search" name="search" id="search" placeholder="Search" autocomplete="off">
  <input type="submit" name="search_btn" id="search_btn" value="Buscar">
  </div>
</form>
<table id="user_table" >
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Age</th>
    <th>Address</th>
  </tr>
  <% @user.each do |user|%>
  <tr>
    <td> <a href="/users/<%= user.id%>"><%= user.name%> <%= user.last_name%> </td>
    <td> <%= user.email%> </td>
    <td> <%= user.age%> </td>
    <td> <%= user.address%> </td>
  </tr>
  <% end %>
</table>
